.services{
  position: relative;
  top: 340px;
  padding-left: 8.35%;
  padding-right: 8.35%;
}

.servicesText{
  font-family: 'Value Sans Pro',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
}

.servicesBox{
  display: flex;
  justify-content: space-between;
}

.servicesBox__size{
  position: relative;
  width: 400px;
  height: 302px;
  background: #EDEBE9;
  cursor: pointer;
  background: linear-gradient(90deg, #FAD0C4 0%, #FAD0C4 1%, #FFD1FF 100%);
  background-position: 1px -400px;
  transition: background 1s ease-out;
}

.servicesBox__sizeImg{
  padding: 10% 0 0 51%;
}

.servicesBox__sizeText{
  position: absolute;
  font-family: 'Value Sans Pro',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 24px;
  left: 45px;
  top: 220px;
}

.servicesBox__design{
  position: relative;
  width: 700px;
  height: 302px;
  background: #EDEBE9;
  cursor: pointer;
  background: linear-gradient(90deg, #FAD0C4 0%, #FAD0C4 1%, #FFD1FF 100%);
  background-position: 1px -700px;
  transition: background 1s ease-out;
}


.servicesBox__designImg{
  padding: 3.5% 0 0 60%;
}

.servicesBox__cargo{
  position: relative;
  width: 400px;
  height: 302px;
  background: #EDEBE9;
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(90deg, #FAD0C4 0%, #FAD0C4 1%, #FFD1FF 100%);
  background-position: 1px -400px;
  transition: background 1s ease-out;
}
.servicesBox__designText{
  position: absolute;
  font-family: 'Value Sans Pro',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 24px;
  left: 45px;
  top: 220px;
}
.servicesBox__cargoImg{
  padding: 8.7% 0 0 37.5%;
}
.servicesBox__cargoText{
  position: absolute;
  font-family: 'Value Sans Pro',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 24px;
  left: 45px;
  top: 220px;
}
.servicesBox__size:hover{
  background-position: 400px;
}
.servicesBox__design:hover{
  background-position: 700px;
}
.servicesBox__cargo:hover{
  background-position: 400px;
}
.servicesBox__delivery{
  position: relative;
  width: 550px;
  height: 302px;
  background: #EDEBE9;
  cursor: pointer;
  background: linear-gradient(90deg, #FAD0C4 0%, #FAD0C4 1%, #FFD1FF 100%);
  background-position: 1px -550px;
  transition: background 1s ease-out;
}

.servicesBox__installation{
  position: relative;
  width: 965px;
  height: 302px;
  background: #EDEBE9;
  cursor: pointer;
  background: linear-gradient(90deg, #FAD0C4 0%, #FAD0C4 1%, #FFD1FF 100%);
  background-position: 1px -965px;
  transition: background 1s ease-out;
}
.servicesBox__dawn{
  padding-top: 17px;
  display: flex;
  justify-content: space-between;
}
.servicesBox__deliveryImg{
  padding: 2% 0 0 50%;
}
.servicesBox__deliveryText{
  position: absolute;
  font-family: 'Value Sans Pro',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 24px;
  left: 45px;
  top: 220px;
}
.servicesBox__installationImg{
  padding: 3% 0 0 60%;

}
.servicesBox__installationText{
  position: absolute;
  font-family: 'Value Sans Pro',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 24px;
  left: 45px;
  top: 220px;
}
.servicesBox__delivery:hover{
  background-position: 550px;
}

.servicesBox__installation:hover{
  background-position: 965px;
}

@media (max-width: 1024px) {
  .servicesBox,
  .servicesBox__dawn{
    display: block;
    padding: 0;
  }
  .servicesBox__size,
  .servicesBox__design,
  .servicesBox__cargo,
  .servicesBox__delivery,
  .servicesBox__delivery,
  .servicesBox__installation{
    margin: 0 0 10px;
    width: 100%;
    padding: 0;
  }
  .servicesBox__installationImg,
  .servicesBox__deliveryImg,
  .servicesBox__cargoImg,
  .servicesBox__designImg,
  .servicesBox__sizeImg{
    padding: 0;
    margin: 2% 0 0 70%;
    width: 30%;
  }
}
@media only screen and (max-width: 960px) {
  .servicesBox__designImg{
    width: 30%;
  }
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 720px) {

}
@media only screen and (max-width: 640px){
  .servicesBox__sizeText{
    left: 20px;
    top: 130px;
  }

  .servicesBox__size,
  .servicesBox__design,
  .servicesBox__cargo,
  .servicesBox__delivery,
  .servicesBox__installation{
    height: 220px;
  }
  .servicesBox__designText{
    top: 134px;
    left: 20px;
  }
  .servicesBox__cargoText{
    top: 150px;
    left: 20px;
  }
  .servicesBox__deliveryText{
    left: 20px;
    top: 120px;
  }
  .servicesBox__installationText{
    left: 20px;
    top: 129px;
  }
}
@media only screen and (max-width: 420px){
  .servicesBox__sizeImg,
  .servicesBox__designImg,
  .servicesBox__cargoImg,
  .servicesBox__deliveryImg,
  .servicesBox__installationImg{
    margin: 20% 0 0 70%;
  }
  .desk,
  .services{
    padding: 15%;
  }
}