.catalog{
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 140px;
  justify-content: space-between;
  & img {
    width: 100%;
  }
}
.catalogFurniture{
  display: flex;
  position: relative;

}
.catalogFurniture__catalog{
  position: absolute;
  color: #FFFFFF;
  left: 15%;
  top: 40%;
  transform: rotate(-90deg);
  transform-origin: top left;
  font-family: 'Value Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 20px;
  &:after{
    position: absolute;
    content: "";
    height: 1px;
    width: calc(7vw - 10px);
    background-color: #FFFFFF;
    top: 50%;
    margin-left: 15px;
  }
}

.catalogHm{
  position: absolute;
  color: #FFFFFF;
  left: 15%;
  bottom: 3%;
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 64px;
}
.catalogText{
  position: absolute;
  color: #FFFFFF;
  left: 15%;
  bottom: 10%;
  font-family: 'Value Sans Pro', sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 3vw;
  line-height: 64px;
}
.catalogKitchens{
  position: relative;
  width: 33.33%;
}
.catalogHallways{
  position: relative;
  width: 33.33%;
}
.arrow {
  margin: 0;
  top: 35%;
  left: 25%;
  position: absolute;
  border:  solid rgba(51, 51, 51, 0.27);
  border-width: 0 2px 2px 0;
  padding: 7px;
}
.right {
  transform: rotate(-45deg);
}
.testStop__old{
  position: absolute;
  top: 50%;
  right: 2%;
  z-index: 1;
}
.test_old{
  height: 58px;
  width:  58px;
  position: relative;
  left: 30%;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid rgba(51, 51, 51, 0.27);
  background: #FFFFFF;
  &:hover {
    border: 2px solid #8B4795;
    transition: 0.2s;
  }
  &:hover .arrow{
    border-color: #8B4795;
    transition: 0.2s;
  }
}
@media (max-width: 1024px) {
  .catalog{
    padding-top: 55px;
  }
  .test_old{
    height: 40px;
    width: 40px;
    top: 100px;
  }
}
@media only screen and (max-width: 810px) {
  .arrow{
    padding: 5px;
  }
}

@media only screen and (max-width: 768px){
  .testBorder__right,
  .testBorder__left{
    top:380px;
  }

}
@media only screen and (max-width: 640px){
  .catalog{
    display: flex;
    flex-direction: column;
  }
  .catalogFurniture{
    width: 100%;
  }
  .test_old {
    display: none;
  }
}