.boxEnd{
  position: relative;
  top: 640px;
  background:#EDEBE9;
  height: 120px;
  padding-left: 155px;
  padding-top: 30px;

}
.boxEnd__item{
  display: flex;


}
.boxEnd__itemText{
  width: 18%;
  font-family: 'Value Sans Pro',sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;

}
.boxEnd__textItem{
  width: 23%;
  font-family: 'Value Sans Pro',sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  color: #333333;
  padding-top: 14px;

}
.boxEnd__payment{

  font-family: 'Value Sans Pro',sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.005em;
  text-align: left;
}

.boxEnd__card{
  width: 36%;
  display: flex;
  line-height: 50px;
  padding-top: 14px;
  & svg{
    margin-left: 20px;
  }
}

.boxEnd__svg{
  padding-top: 14px;
}
@media (max-width: 1024px) {
  .boxEnd{
    position: relative;
    top:740px;
    padding-left: 0;
  }
  .boxEnd__textItem{
    position: relative;
    top: 15px;
  }
  .boxEnd__payment{
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .boxEnd{
    top:765px
  }
}
@media only screen and (max-width: 768px) {
  .boxEnd__itemText{
    width: 25%;
  }
  .boxEnd__item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    gap: 20px;
  }
  .boxEnd{
    height: 100%;
    top: 800px;
  }
}
@media only screen and (max-width: 720px) {
  .boxEnd{
    top: 940px;
  }
  .endBox{
    height: 1380px;
  }
  .boxEnd__itemText{
    font-size: 10px;
  }
  .boxEnd__textItem{
    font-size: 14px;
  }
}
@media only screen and (max-width: 640px){
  .boxEnd {
    top: 970px;
  }
}
