.cover{
  background: linear-gradient(90deg, #FDFBFB 0%, #EBEDEE 100%);
}
.coverBac{
  padding: 0 0 0 8.35%;
  height: 640px;
  top: 201px;
  left: 0;
  background-image: url("../../assets/img/Sofa.png"), url("../../assets/img/bac.png");
  background-position: right center, right center;
  background-repeat: no-repeat, no-repeat;
}
.coverBac img{
  width: 100%;
}
.coverLogo_bac{
  position: absolute;
  transform: rotate(1deg);
  left: 54%;
  top: 257px;
}
.coverLogo{
  position: absolute;
  width: 46.6%;
  height: 531px;
  left: 54%;
  top: 257px;
}
.coverText{
  font-family: 'Value Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -0.01em;
  text-align: left;
  padding-top: 140px;
}
.coverText__discount{
  font-family:'Value Sans Pro', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 100%;
  letter-spacing: 0.005em;
  color: rgba(0, 0, 0, 0.76);

}
.coverImage{
  padding-left: 6%;
  padding-right: 6px;
  display: flex;
  margin-top: -75px;
}
.coverImage__sofa {
  position: relative;
  width: 200px;
  height: 126px;
}
.coverImage__sofaImage{
  width: 100%;
  height: 126px;
  background-position: 75% 65%;
  background-repeat: no-repeat, no-repeat;
}
.coverImage__sofaBac{
  transform: rotate(1deg);
}
.coverImage > div {
  margin-left: 16px;
}
@media (max-width: 1024px) {
  .coverBac{
    background-size: contain;
  }
  .coverImage__off{
    display: none;
  }
  .coverImage{
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .coverImage__sofa{
    width: 70%;
  }
}
@media only screen and (max-width: 420px){
  .coverText__discount{
    font-size: 50px;
  }
}
@media only screen and (max-width: 320px){
  .coverText__discount{
    font-size: 40px;
  }
}