.container {
  padding: 0 4%;
}

.list{
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.listText{
  text-decoration: none;
  font-family:'Value Sans Pro', sans-serif;
  color: #333333;
  font-weight: 300;
  padding-right: 23px;
  transition:  color 0.2s linear;
  &:hover{
    color: #ffc401;
  }
}
.menu__mobileText{
  display: none;
}
@media only screen and (max-width: 1024px) {
  .list{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .listText__on{
    display: none;
  }
  .menu__mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .menu__mobile_button {
    position: relative;
    height: 26px;
    width: 40px;
    cursor: pointer;
  }
  .menu__mobile_button.active span {
    opacity: 0;
  }
  .menu__mobile_button.active.menu__mobile_button:before, .menu__mobile_button.active.menu__mobile_button:after {
    top: 40%;
  }
  .menu__mobile_button.active.menu__mobile_button:before {
    transform: rotate(45deg);
  }
  .menu__mobile_button.active.menu__mobile_button:after {
    transform: rotate(-45deg);
  }
  .menu__mobile_button span, .menu__mobile_button:before, .menu__mobile_button:after {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background-color: #1e272e;
    border-radius: 6px;
    opacity: 1;
  }
  .menu__mobile_button:before, .menu__mobile_button:after {
    content: "";
    transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu__mobile_button span {
    top: 50%;
    transform: translateY(-50%);
  }
  .menu__mobile_button:before {
    top: 0;
  }
  .menu__mobile_button:after {
    top: calc(100% - 6px);
  }
  .menu__mobileText {
    right: 1px;
    position: absolute;
    top: calc(100% + 15px);
    display: none;
  }
  .menu__mobileText ul {
    margin: 2px;
    padding: 30px;
    border: 1px solid rgba(201, 201, 201, 0.21);
    background: #ffd1ff;
  }
  .menu__mobileText ul li {
    margin-top: 10px;
    list-style: none;
    &:hover{
      color: #ffc401;
    }
  }
  .menu__mobileText.show {
    display: block;
  }
}
@media only screen and (max-width: 720px) {
  .listText{
    padding-right: 1px;
  }
}
@media only screen and (max-width: 640px){
  .listText{
    padding-right: 13px;
  }
}
@media only screen and (max-width: 320px){
  .listText__off{
    display: none;
  }
}