.test{
  height: 58px;
  width:  58px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid rgba(51, 51, 51, 0.27);
  background: #FFFFFF;
  &:hover {
    border: 2px solid #8B4795;
    transition: 0.2s;
  }
}
.test:hover .arrow{
  border-color: #8B4795;
  transition: 0.2s;
}

.arrow {
  margin: 0;
  top: 35%;
  left: 25%;
  position: absolute;
  border:  solid rgba(51, 51, 51, 0.27);
  border-width: 0 2px 2px 0;
  padding: 7px;
}
.left {
  transform: rotate(135deg) translate(-50%,-50%);
}

.right {
  transform: rotate(-45deg);
}