.end{
  position: relative;
  top: 640px;
  width: 100%;
  border-bottom: 1px solid #C1C1C1;
}
.endButton{
  padding: 15px 28px;
  cursor: pointer;
  border-radius: 100px;
  text-decoration: none;
  background: #EDEBE9;
}
.endButton__text{
  font-family:'Value Sans Pro',sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin: 0;
  padding-left: 20px;
  padding-top: 10px;
}
.endBox{
  height: 407px;
  background: #EDEBE9;
  justify-content: space-between;
  white-space: normal;
  display: flex;
}
.endBox__text{
  width: 100%;
  padding-top: 60px;
  padding-left: 155px;
  display: flex;
  justify-content: space-between;
  & p{
    font-family: 'Value Sans Pro',sans-serif;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
  }
  & a{
    text-decoration: none;
    color: #333333;
    font-family: 'Value Sans Pro',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-align: left;
  }
}

.endText:hover{

  color: rebeccapurple;
  transition: 0.2s;
}
.endBox__textOne{
  width: 23%;
}

.endRedact__text {
  font-family: 'Value Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: left;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  & a{
    margin-top: 15px;
  }
}
.endRedact__textTwo{
  width: 22%;
  margin-top: 60px;
  font-family: 'Value Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  & a{
    margin-top: 15px;
  }
}

.endRedact__four{
  font-family: 'Value Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  & a{
    margin-top: 15px;
  }
}
.endRedact__three{
  width: 20%;
  position: center;

}
.endFive__redact{
  font-family: 'Value Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  & a{
    margin-top: 15px;
  }
}
.endRedact__five{
  width: 20%;
  text-align: start;
}
.endRedact__six{
  width: 45%;
}

.endInput{
  border-radius: 60px;
  background: #FFFFFF;
  padding: 15px;
  width: 50%;
  border: #FFFFFF;
  &:focus{
    outline: none;
  }
}

.endRedact__seven {

  line-height: 0.2em;
}

.sevenNumber{
  font-family: 'Value Sans Pro',sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-align: left;
  text-decoration: none;
  color: #333333;
}

.endInput__wrapper{
  display: flex;
  padding-top: 15px;
  align-items: center;
}
.sevenMail{
  font-family: 'Value Sans Pro',sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.sevenAddress{
  font-family: 'Value Sans Pro',sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.01em;
  text-align: left;
  margin: 0;
}

.sevenPlace{
  font-family: 'Value Sans Pro',sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-align: left;
}

.sevenInf{
  font-family: 'Value Sans Pro',sans-serif;
  font-weight: 400;
  letter-spacing: -0.01em;
  text-align: left;
  margin: 0;
}

.sevenTime{
  font-family: 'Value Sans Pro',sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-align: left;

}
.endApplications{
  display: flex;
}
.tgIcon{
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px;
  background: #C0C0C0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  &:hover {
    background: #b3d4fc;
    transition: 0.2s;
  }
}
.vkIcon {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px;
  background: #C0C0C0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  &:hover {
    background: blue;
    transition: 0.2s;
  }
}
.classIcon{
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px;
  background: #C0C0C0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  &:hover{
    background: #ffc401;
    transition: 0.2s;
  }
}
.styled:hover{
  background-color: rgba(200, 209, 3, 1);
  transition: 0.2s
}
.styled:active {
  box-shadow: inset -5px -5px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.classIcon__oll{
  margin-left: 25px;
}
.vkIcon__oll{
  margin-left: 25px;
}
.classIcon__oll{
   margin-left: 25px;
 }

.tgIcon_center,
.vkIcon_center{
  position: relative;
  margin-top: 3px;
  margin-left: 10px;
}
.classIcon_center{
  position: relative;
  margin-top: 0;
  margin-left: 15px;
}

@media  (max-width: 1024px) {
  .end{
    height: 1200px;
  }
  .end{
    display: block;
  }
  .endBox{
    height: 1300px;
    border-bottom: 1px solid #C1C1C1;
  }
  .endBox__text{
    display: table-row;
  }
  .endBox__textOne{
    margin: 0;
  }
  .endRedact__textTwo{
    position: relative;
    bottom: 300px;
    left: 40%;
  }
  .endRedact__three{
    position: relative;
    bottom: 230px;
  }
  .endRedact__five{
    position: relative;
    bottom: 500px;
    left: 40%;
  }
  .endRedact__six{
    position: relative;
    bottom: 400px;
  }
  .endRedact__seven{
    position: relative;
    bottom: 350px;
  }
}
@media only screen and (max-width: 900px) {
  .endBox{
    height: 1325px;
  }
}
@media only screen and (max-width: 768px) {
  .endInput__wrapper{
    align-items: center;
  }
  .catalog{
    padding-top: 240px;
  }
  .endButton{
    border-radius: 20px;
  }
  .endBox{
    height: 1360px;
  }
}
@media only screen and (max-width: 720px) {
  .endBox{
    height: 1500px;
  }
}
@media only screen and (max-width: 640px){
  .endBox {
    height: 1530px;
  }
}
@media only screen and (max-width: 420px){
  .endBox__text{
    padding-left: 15%;
  }
  .endRedact__textSix{
    font-size: 14px;
  }
}