.title{
  width: 100%;
  position: relative;

}
.titleText{
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  left: 8%;
  margin-top: 140px;
  border-bottom: solid black;
  &:after{
    position: absolute;
    content: "";
    height: 1px;
    width: 1200px;
    background-color: rgba(51, 51, 51, 0.27);
    top: 34px;
    left: 350px;

  }

}
.titleText{
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  left: 8%;
  margin-top: 140px;
  border-bottom: solid black;
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 800px;
    background-color: rgba(51, 51, 51, 0.27);
    top: 34px;
    left: 350px;
  }
}
