.title{
  width: 100%;
  position: relative;

}
.titleText{
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  left: 8%;
  margin-top: 140px;
  border-bottom: solid black;
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.27);
    top: 34px;
    left: 350px;
  }
}

@media (max-width: 1024px) {
  .titleText {
    margin-top: 70px;
    &:after {
      position: absolute;
      content: "";
      height: 1px;
      width: 500px;
      background-color: rgba(51, 51, 51, 0.27);
      top: 34px;
      left: 350px;
    }
  }
}
@media only screen and (max-width: 900px) {
  .titleText:after{
    width: 450px;
  }
}
@media only screen and (max-width: 864px) {
  .titleText:after {
    width: 430px;
  }
}
@media only screen and (max-width: 864px) {
  .titleText:after{
    width: 380px;
  }
}
@media only screen and (max-width: 768px) {
  .titleText:after{
    width: 340px;
  }
}
@media only screen and (max-width: 720px) {
  .titleText:after{
    display: none;
  }
}
@media only screen and (max-width: 640px){
  .titleText{
    font-size: 30px;
  }
  .titleText:after{
    top:20px;
    left:200px;
    width: 379px;
  }
}
@media only screen and (max-width: 320px) {
  .titleText:after {
    display: none;
  }
}
