.construct{
  position: relative;
  top: 240px;
  padding-left: 8.35%;
  padding-bottom: 8.35%;
  padding-right: 8.35%;;
  border-bottom: 1px solid #C1C1C1;
}

.constructLeft{
  left: 153px;
}

.constructText__name{
  font-family: 'Value Sans Pro', sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
}

.constructMenu a{
  text-decoration: none;
  color: #333333;
  padding-right: 34px;
}

.constructText__sofa:hover {
  color: #8B4795;
}
.constructText__room:hover {
  font-weight: 700;
}
.constructText__living:hover {
  font-weight: 700;
}
.constructText__hallway:hover {
  font-weight: 700;
}
.constructText__children:hover {
  font-weight: 700;
}

.constructBox{
  display: flex;
  position: relative;
  top: 65px;

}
.constructBox__img{
  width: 100%;
}
.constructBox_oll{
  display: flex;
}

.constructBox__group{
  position: absolute;
  width: 180px;
  height: 160px;
  background: #FFFFFF;
  top: 45%;
  left: 10%;
}

.constructLink{
  position: absolute;
  top: 40%;
  left: 30%;
}

.constructLink_none{
  position: absolute;
  top: 65%;
  left: 3%;
}

.constructLink__back{
  position: absolute;
  top: 64%;
  left: 87%;
}

.constructLink__left{
  position: absolute;
  top: 55%;
  left: 67%;
}

.constructBox__left{
  position: relative;
  width: 30%;
  padding-top: 152px;
  padding-left: 3%;
}

.test{
  height: 58px;
  width:  58px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid rgba(51, 51, 51, 0.27);
  background: #FFFFFF;
  &:hover {
    border: 2px solid #8B4795;
    transition: 0.2s;
  }
}
.test:hover .arrow{
  border-color: #8B4795;
  transition: 0.2s;
}

.arrow {
  margin: 0;
  top: 35%;
  left: 25%;
  position: absolute;
  border:  solid rgba(51, 51, 51, 0.27);
  border-width: 0 2px 2px 0;
  padding: 7px;
}

.left {
  transform: rotate(135deg) translate(-50%,-50%);
}

.right {
  transform: rotate(-45deg);
}



.constructBox_border{
  display: flex;
  padding-top: 10%;
  gap: 20px;
  padding-left: 65%;
}
.constructBox_line{
  position: absolute;
  color: #8b4795;
  left: 20%;
  bottom: 17%;
  transform-origin: top left;
  font-family: "Value Sans Pro", sans-serif;
  &:after{
    position: absolute;
    content: "";
    height: 3px;
    width: calc(7vw - -40px);
    background-color: rgb(201 95 216 / 80%);
  }
}
.constructBox_line_all{
  position: absolute;
  color: #8b4795;
  left: 20%;
  bottom: 17%;
  transform-origin: top left;
  font-family: "Value Sans Pro", sans-serif;
  &:after{
    position: absolute;
    content: "";
    height: 3px;
    width: calc(7vw - 10px);
    background-color: blueviolet;
  }
}

.testBorder__left{
  top: 615px;
  left: 80%;
}

.testBorder__right{

  top: 615px;
  left: 86%;
}
.testStop__old{
  position: absolute;
  top: 335px;
  left: 80%;
}
.test_old{
  height: 58px;
  width:  58px;
  position: relative;
  left: 30%;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid rgba(51, 51, 51, 0.27);
  background: #FFFFFF;
}

.boxSvg__favorite{
  position: absolute;
  left: 127px;
  top: 25px;
  &:hover path {
    fill: red;
    transition: 0.2s;
  }
}

.constructBox__text{
  padding-left: 15px;
  font-family: 'Value Sans Pro',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 15px;
}

.constructBox__textTwo{
  font-family: 'Value Sans Pro',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1px;
  padding-left: 15px;
}

.constructBox__textHm{
  position: absolute;
  padding-left: 15px;
  font-family: 'Value Sans Pro',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.constructBox__leftImg{
  width: 100%;
}

.constructBox__textNone{
  position: absolute;
  padding-top: 21px;
  font-family: 'Value Sans Pro',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding-left: 15px;
  text-decoration: line-through;
}

.boxSvg__basket{
  position: absolute;
  left: 127px;
  top: 95px;
  &:hover path{
    stroke: red;
    transition: 0.2s;
    cursor: pointer;
  }
}
@media (max-width: 1024px) {
  .constructBox_oll{
    display: block;
  }
  .constructBox_line_all,
  .constructBox_line{
    display: none;
  }
  .constructBox{
    display: block;
  }
  .constructBox__left{
    display: none;
  }
  .constructBox__img{
    width: 100%;
  }
  .constructLink__back,
  .constructLink__left,
  .constructLink,
  .constructLink_none{
    width: 45px;
  }


}
@media only screen and (max-width: 960px) {
  .constructBox__img{
    width: 100%;
  }
  .constructBox__left{
    left: 25%;
  }


}
@media only screen and (max-width: 864px) {

  .constructLink__left{
    top: 290px;
    left: 65%;
  }

}
@media only screen and (max-width: 810px) {
  .constructBox__left{
    left: 15%;
  }
}
@media only screen and (max-width: 720px) {
  .constructBox__group,
  .constructLink_none,
  .constructLink,
  .constructLink__left,
  .constructLink__back {
    display: none;
  }

  .constructBox__textHm,
  .constructBox__textNone,
  .boxSvg__basket {
    display: none;
  }
  .constructLink__left {
    top: 238px;
  }


  .constructLink {
    left: 250px;
    top: 175px;
  }
}
@media only screen and (max-width: 640px){
  .construct{
    border-bottom: none;
  }
  .constructBox__left{
    margin: 0;
    padding: 0;
    bottom: 20px;
    left: 13%;
  }
  .constructMenu a{
    padding-right: 20px;
  }
}
@media only screen and (max-width: 420px){
.constructMenu{
  display: flex;
  flex-direction: column;
}
  .constructText__name{
    font-size: 28px;
  }
}
@media only screen and (max-width: 320px){
  .constructBox__leftImg{
    display: none;
  }
  .constructText__name{
    font-size: 28px;
  }
}
