.container {
  padding: 0 4%;
}

.home{
  font-family: 'Value Sans Pro', sans-serif;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid silver;
}

.homeLogo{
  height: 50px;
  width: 222px;
  cursor: pointer;
}

.homeSearch{
  position: relative;
  width: 64%;
}

.homeSearch__input{
  width: 95%;
  border-radius: 71px;
  border: 2px solid #8B4795CC;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  &:focus{
    outline: none;
  }
}
.iconCenter{
  display: flex;
  justify-content: space-around;
}
.homeSearch__image{
  height: 24px;
  width: 24px;
  position: absolute;
  top: calc(50% - 12px);
  transform: translateY(calc(-50% + 12px)) ;
  right: 40px;
}

.homeIcon {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 35px;
  text-decoration: none;
  margin: 5px;
}

.homeIcon__oll{
  display: flex;
}

.homeIcon__heard:hover path{
  fill: red;
  transition: 0.2s;
}

.homeUser__text{
  text-decoration: none;
  color: #333333;
  font-weight: 700;
  flex: none;
  &:hover{
    color: red;
    transition: 0.2s;
  }
  &:hover path{
    stroke: red;
    transition: 0.2s;
  }
  &:hover circle {
    stroke: red;
    transition: 0.2s;
  }
}
.homeIcon p{
  margin: 0;
}

@media (max-width: 1024px) {
  .homeSearch__image{
    right: 0;
  }
  .home{
    display: flex;
    flex-direction: column;
    height: 205px;
  }
  .homeIcon__oll{
    display: flex;
    justify-content: space-around;
  }
  .homeIcon{
    margin: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .homeSearch__input{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
@media only screen and (max-width: 864px) {
  .homeSearch__input{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .homeIcon{
    width: 20%;
  }
  .homeLogo{
    width: 100%;
  }
}
