.desk{
  position: relative;
  top: 500px;
  padding-left: 8.35%;
  padding-right: 8.35%;
}
.deskBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: #EDEBE9;
}
.onePng{
  width: 56.3%;
  height: 431px;

}
.deskPng_one{
  display: flex;
  justify-content: space-between;
}
.deskPng_two{
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
.twoPng{
  width: 23.4%;
}
.deskName__box{
  align-items: center;
  justify-content: center;
  display: inline-flex;
  flex-direction: column;
  gap: 30px;
}
.deskButton__name{
  gap: 10px;
  display: grid;
}
.deskImg__one{
  width: 32.5%;
}
.deskImg__two{
  width: 33.25%;
}
.deskImg__three{
  width: 33.25%;

}
.deskImg__four{
  width: 32.5%;

}
.deskImg__five{
  width: 67%;

}
.deskImg__six,
.deskImg__seven{
  width: 100%;

}
.deskBox__name{
  font-family: 'Value Sans Pro',sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: center;
}
.deskBox__info{

  top: 258px;
  left:1080px;
  font-family: 'Value Sans Pro',sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: center;
}
.deskBox__vk{
  top: 380px;
  left:1070px;
  width: 220px;
  height: 48px;
  font-family: 'Value Sans Pro',sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #333333;
  letter-spacing: 0.005em;
  text-align: center;
  background: #FFD103;
  padding: 16px 32px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 100px;
  border: 0;
}
.deskBox__odn{
  top: 438px;
  left:1070px;
  width: 220px;
  height: 48px;
  font-family: 'Value Sans Pro',sans-serif;
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.005em;
  text-align: center;
  background: #FFD103;
  padding: 16px 32px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 100px;
  border: 0;
  white-space: nowrap;
}
.deskBox__inst{
  top: 499px;
  color: #333333;
  left:1070px;
  width: 220px;
  height: 48px;
  font-family: 'Value Sans Pro',sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.005em;
  text-align: center;
  background: #FFD103;
  padding: 16px 32px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 100px;
  border: 0;
}
.styled:hover{
  background-color: rgba(200, 209, 3, 1);
  transition: 0.2s
}

.styled:active {
  box-shadow: inset -5px -5px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
@media only screen and (max-width: 1024px) {
  .deskBox{
    flex-direction: row;
    display: block;
    height: 1240px;
  }
  .deskImg__one{
    display: none;
  }
  .onePng{
    margin: 0;
    width: 100%;
    display: table;
  }
  .deskImg__two{
    width: 49.5%;
  }
  .deskImg__three{
    width: 49.5%;
  }
  .deskImg__five{
    display: none;
  }
  .deskImg__four{
    display: none;
  }
  .twoPng{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
    margin-top: 20px;
  }
  .deskName__box{
    margin-top: 40px;
    display: flex;
  }
}
@media only screen and (max-width: 864px) {
  .deskImg__five{
    right: 348px;
  }
  .deskBox__name{
    top: 780px;
  }
  .deskBox__info{
    top: 825px;
    left: 23%;
  }
  .deskBox__vk {
    top: 780px;
  }
  .deskBox__odn {
    top: 840px;
  }
  .deskBox__inst {
    top: 900px;
  }
}
@media only screen and (max-width: 864px) {
  .deskImg__two,
  .deskImg__three{
    width: 100%;
  }
  .deskPng_one,
  .twoPng{
    display: block;
  }
  .deskBox{
    height: 3200px;
  }
}
@media only screen and (max-width: 720px) {
  .deskBox{
    height: 2753px;
  }
}
@media only screen and (max-width: 640px){
  .deskBox{
    height: 2500px;
  }
}
@media only screen and (max-width: 420px){
  .desk,
  .services{
    padding: 15%;
  }
  .deskBox{
    height: 1408px;
  }
}